<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="xdebug.show_exception_trace" value="0"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>

    <testsuites>
        <testsuite name="Soli Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="/tmp/phpunit.coverage.xml"/>
        <log type="junit" target="/tmp/phpunit.logfile.xml" logIncompleteSkipped="false"/>
        <log type="coverage-html" target="/tmp/phpunit.report" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
