<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
  backupGlobals="false"
  backupStaticProperties="false"
  colors="true"
  processIsolation="false"
  stopOnFailure="false"
  bootstrap="vendor/autoload.php"
  cacheDirectory=".phpunit.cache"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  >
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <crap4j outputFile="build/logs/crap4j.xml"/>
      <html outputDirectory="build/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <php>
    <ini name="xdebug.show_exception_trace" value="0"/>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="1"/>
  </php>
  <testsuites>
    <testsuite name="Soli Test Suite">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
